 #cont{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: start;
        border: solid black 3px;
        background-color: aliceblue;
        width: 500px;
        height: 330px;
        
    }
    #w{
        color: black;
        background-color: white;
    }
    #q{
        margin-left: 18px;
        color: black;
        background-color: white;
    }
    #sub:hover{
        transition: all,0.2s;
        background-color: black;
        color: white;
        position: relative;
        
    }
    #mul:hover{
        transition: all,0.2s;
        background-color: black;
        color: white;
        position: relative;
        border-radius: 10%;
        
    }
    #div:hover{
        transition: all,0.2s;
        background-color: black;
        color: white;
        position: relative;
        border-radius: 10%;
    }
    #add:hover{
        transition: all,0.2s;
        background-color: black;
        color: white;
        position: relative;
        border-radius: 10%;
    }
    #mul{
      margin-top: 20px;
      background-color: white;
    }
    #div{
      margin-left: 22px;
      background-color: white;
    }
    #sub{
      margin-left: 20px;
      background-color: white;
    }
    #q:hover{
        transition: all,0.2s;
        padding: 2px;
        background-color: black;
        color: white;
    }
    #w:hover{
        transition: all,0.2s;
        padding: 2px;
        background-color: black;
        color: white;
    }
   #add{
    background-color: white;
   }
   #demo{
        color: black;
        background-color: white;
   }